body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eeeeee;
}

code {
    font-family: source-code-pro, Menlo, Monaco,
        Consolas, 'Courier New', monospace;
}

/*menu*/

.HasLink {
    text-decoration: none !important;
    color: #c1c1c1 !important;
}

.HasLink:link {
    text-decoration: none !important;
    color: #c1c1c1 !important;
}
.HasLink:visited {
    text-decoration: none !important;
    color: #c1c1c1 !important;
}
.HasLink:hover {
    color: #cce5ff !important;
    transition: 0.5s !important;
}
.HasLink:active {
    text-decoration: none;
    color: #cce5ff !important;
    transition: ease-out 0.5s !important;
}

/*links profile*/

.hoverLink,
.git,
.gmail {
    color: #5e5757 !important;
    cursor: pointer;
}
.hoverLink:hover {
    color: #0066cc !important;
}

.git:hover {
    color: rgb(0, 0, 0) !important;
}
.gmail:hover {
    color: rgb(246, 12, 12) !important;
}

/*section-themes-margins*/
/*section-themes-margins*/
#top {
    padding: 0 !important;
}

#section-header {
    padding: 10rem 0 0 0 !important;
}

#section-skills {
    padding: 10rem 0 0 0 !important;
}

#section-experience {
    padding: 10rem 0 0 0 !important;
}

#section-education {
    /*FIXME: test padding*/
    padding: 10rem 0 5rem 0 !important;
    margin: 5rem auto;
}

#section-projects {
    /*FIXME: test padding*/
    padding: 7rem 0  0 0 !important;
    margin: 5rem auto;
}
/*progressBar*/

@keyframes fadeinleft {
    0% {
        opacity: 0;
            position: relative;
            left: -5rem;
        }
        50% {
            left: 0rem;
        }
        100% {
            opacity: 1;
            left: 0;
        }
}

@keyframes fadeinright {
    0% {
        opacity: 0;
        position: relative;
        right: -5rem;
    }

    50% {
        right: 0rem;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}
 

.container-first-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    animation: fadeinleft 1s ease-in;
}
.container-second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    animation: fadeinright 1s ease-in; 
}

.breakpoints {
    width: 23rem;
    height: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    background: lightgray;
    box-shadow: 0 0 0.1rem #333;
}
.breakpoints:hover{
    box-shadow: 0 0 0.5rem #0066cc;
}
@media only screen and (max-width: 2560px) {
    .breakpoints {
        width: 23rem;
    }
}

@media only screen and (max-width: 1440px) {
    .breakpoints {
        width: 23rem;
    }
}

@media only screen and (max-width: 1024px) {
    .breakpoints {
        width: 23rem;
    }
}

@media only screen and (max-width: 768px) {
    .breakpoints {
        width: 20rem;
    }
}

@media only screen and (max-width: 430px) {
    .breakpoints {
        width: 20rem;
    }
}

@media only screen and (max-width: 425px) {
    .breakpoints {
        width: 20rem;
    }
}

@media only screen and (max-width: 375px) {
    .breakpoints {
        width: 20rem;
    }
}

@media only screen and (max-width: 320px) {
    .breakpoints {
        width: 18rem;
    }
}
